html:has(article.crossword) {
    scroll-snap-type: y mandatory;
}

article.crossword {
    & .above {
        scroll-snap-align: start;
    }

    & hgroup {
        max-width: var(--lg);
        margin: 0 auto;
    }

    & ~ footer.bottom {
        scroll-snap-align: end;
    }
}

article.crossword .game {
    max-width: var(--lg);
    margin: 0 auto;
    height: 100svh;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: auto auto minmax(0, 1fr) auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "info           assist          assist"
        "clue-banner    across-header   down-header"
        "board          across-clues    down-clues"
        "keyboard       keyboard        keyboard";

    & .info {
        grid-area: info;
        min-width: 0;
    }

    & .assist {
        grid-area: assist;
        min-width: 0;
    }

    & .across-header {
        grid-area: across-header;
    }

    & .down-header {
        grid-area: down-header;
    }

    & .clue-banner {
        grid-area: clue-banner;
    }

    & .board {
        grid-area: board;
    }

    & .across-clues {
        grid-area: across-clues;
    }

    & .down-clues {
        grid-area: down-clues;
    }

    & .across-clues,
    & .down-clues {
        min-height: 0;
        overflow-y: auto;
    }

    & .keyboard {
        grid-area: keyboard;
        display: none;
    }

    & .intro {
        grid-row: info-start / keyboard-end;
        grid-column: 1 / -1;
        z-index: 2;
    }

    & .completion {
        grid-row: across-clues-start / across-clues-end;
        grid-column: across-header-start / down-clues-end;
        z-index: 1;
    }
}

@media (width < 768px) {
    article.crossword .game {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: auto minmax(0, 1fr) auto auto;
        grid-template-areas:
            "info           assist"
            "board          board"
            "clue-banner    clue-banner"
            "keyboard       keyboard";

        & .across-header,
        & .down-header,
        & .across-clues,
        & .down-clues {
            display: none;
        }

        & .completion {
            grid-row: board-start / keyboard-end;
            grid-column: 1 / -1;
        }
    }

    @media (pointer: coarse) {
        article.crossword .game .keyboard {
            display: block;
        }
    }
}
