@import "fonts.css";
@import "themes.css";

:root {
    --header-height: 4em;
}

body {
    background-color: var(--color-surface);
    color: var(--color-text);
}

a.link {
    text-decoration: underline;
}
