@import "reset.css";
@import "fonts.css";
@import "themes.css";

:root {
    --xs: 30em;
    --sm: 640px;
    --md: 768px;
    --lg: 1024px;
    --xl: 1280px;

    --header-height: 4em;
}

body {
    background-color: var(--color-surface);
    color: var(--color-text);
}

a.link {
    text-decoration: underline;
}

a[aria-busy="true"] {
    cursor: progress;
}

.error {
    color: var(--color-wrong);
    font-size: 0.875em;

    &:empty {
        display: none;
    }
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
