@import "reset.css";
@import "fonts.css";
@import "components/button.css";
@import "components/input.css";

:root {
    --color-1: #0e94dd;
    --color-1-light: #cfe8ff;
    --color-2: #fab81d;
    --color-2-light: gold;
    --color-3: #a0cc40;
    --color-4: #ea5498;
    --color-dark: #222222;
    --color-surface: #fefefe;
    --color-wrong: #cc2222;

    --color-big: var(--color-1);
    --color-midi: var(--color-4);
    --color-mini: var(--color-3);

    --color-correct: var(--color-1);
    --color-text: var(--color-dark);
    --color-active: var(--color-2-light);
    --color-secondary-active: var(--color-1-light);
    --color-focus: var(--color-1);

    --color-board-block: var(--color-1);
    --color-board-border: var(--color-dark);
    --color-board-text: var(--color-text);

    --xs: 30em;
    --sm: 640px;
    --md: 768px;
    --lg: 1024px;
    --xl: 1280px;

    --header-height: 4em;
}

body {
    background-color: var(--color-surface);
    color: var(--color-text);
}

a.link {
    text-decoration: underline;
}

a[aria-busy="true"] {
    cursor: progress;
}

.error {
    color: var(--color-wrong);
    font-size: 0.875em;

    &:empty {
        display: none;
    }
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
